<div class="tablas">
  <legend>Programar Actividad Servicio</legend>

  <div id='wrap'>
    <!--  -->
    <div *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events"></ng-fullcalendar>
    </div>
    <!--  -->
  </div>
  <hr class="linea-tablas">
</div>
