<div class="tablas">
  <legend>Clientes En Mora</legend>
    <div class="form-group col-sm-8">

      <label class="col-sm-2 control-label" for="card-number">Fecha</label>
      <div class="col-sm-4">
        <input type="date" class="form-control" name="">

      </div>
    </div>

    <hr class="linea-tablas">
    <br>
    <table datatable [dtOptions]="opcionesDataTable" class="row-border hover table table-responsive">

      <thead>
        <tr>
          <th>Nombre CLiente</th>
          <th>Documento</th>
          <th>Direccion</th>
          <th>Telefono 1</th>
          <th>Telefono 2</th>
          <th>Serivios</th>
          <th>Servicio</th>
          <th>Observaciones</th>
        </tr>
      </thead>

      <tbody>
        <!-- filas -->
        <tr>
          <td>Steve Foo</td>
          <td>1032987345</td>
          <td>cll 23 97-12</td>
          <td>321120400</td>
          <td>321120400</td>
          <td>Tv 3 puntos</td>
          <td>5 mb</td>
          <td>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus distinctio tenetur ea quos dolore quo
          </td>
        </tr>

      </tbody>
    </table>
  </div>

    <hr class="linea-tablas">



