<div class="tablas">
  <legend>Historial Agendamientos</legend>
  <div class="col-sm-12">
    <form [formGroup]="formRangoFechas">
      <div class="form-group col-sm-5">
        <label class="col-sm-4 control-label" for="card-number">Fecha Inical</label>
        <div class="col-sm-7">
          <input formControlName="fechaInicio" type="date" class="form-control" placeholder="Buscar">
        </div>
      </div>
      <!--  -->
      <div class="form-group col-sm-5">
        <label class="col-sm-4 control-label" for="card-number">Fecha Final</label>
        <div class="col-sm-8">
          <input formControlName="fechaFin" type="date" class="form-control" placeholder="Buscar">
        </div>
      </div>
      <!--  -->
      <div class="form-group col-sm-2">
        <div class="col-sm-8">
          <input type="submit" class="btn-info btn-sm" value="Buscar">
        </div>
      </div>
    </form>
  </div>
  <hr class="linea-tablas">
  <!--  -->
  <div class="datos_tablas">
    <table datatable [dtOptions]="opcionesDataTable" class="table table-responsive">

      <thead>
        <tr>
          <th>Tecnico</th>
          <th>Fecha</th>
          <th>Direccion</th>
          <th>Actividad Tecnica</th>
          <th>Cliente</th>
          <th>Estado</th>
          <th>Detalle</th>
        </tr>
      </thead>

      <tbody>
        <!-- filas -->
        <tr>
          <td>jhon Roy</td>
          <td>02-23-2018</td>
          <td>cll 23 97-12</td>
          <td>mantenimiento</td>
          <td>Steve Foo</td>
          <td>cancelado</td>
          <td>
            <a data-target="#detalle_agendamiento" data-toggle="modal" id="" class="btn btn-info btn-md" href="#">
              <i class="glyphicon glyphicon-eye-open"></i>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <hr class="linea-tablas">
</div>
<!-- modal detalle agendamiento -->
<div id="detalle_agendamiento" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <legend>Notificacion</legend>

      </div>
      <div class="modal-body">

        <fieldset>
          <div class="col-sm-12">
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label" for="card-number">Cliente</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="">Steve Foo</label>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label" for="card-number">Tecnico</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="">jhon Roy</label>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label" for="card-number">Fecha Modificacion</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="">13-04-2018</label>
              </div>
            </div>
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label" for="card-number">Obsrvacion</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fuga, similique aperiam autem illo
                  dolor, harum exercitationem
                  sit voluptates. Vel provident dicta sit est impedit hic non alias numquam, iste!
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- modal detalle agendamiento -->
