<div class="tablas">
  <legend>Clientes En Mora</legend>
  <hr class="linea-tablas">
  <br>
  <div class="datos_tablas">
    <table datatable [dtOptions]="opcionesDataTable" class="table table-responsive">

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Direccion</th>
          <th>Estado</th>
          <th>Nº Cuenta</th>
          <th>Telefono</th>
          <th>Notificar</th>
          <th>Datalle Facturas</th>
          <th>Repotar</th>
        </tr>
      </thead>

      <tbody *ngFor="let cliente of listaCientesMora">
        <!-- filas -->
        <tr>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.numeroDocumento}}</td>
          <td>{{cliente.direccion}}</td>
          <td>{{cliente.cuentaDto.estadoCuen}}</td>
          <td>{{cliente.cuentaDto.idCuenta}}</td>
          <td>{{cliente.telefono}}</td>
          <td>
            <button data-target="#notificarMora" data-toggle="modal" (click)="datosNotificacionCliente(cliente)" class="btn btn-warning btn-sm">
              <i class="glyphicon glyphicon-envelope"></i>
            </button>
          </td>
          <td>
            <button data-target="#detalleFacturas" data-toggle="modal" (click)="datosDetalleFacturas(cliente)"
              class="btn btn-primary btn-sm">
              <i class="glyphicon glyphicon-envelope"></i>
            </button>
          </td>
          <td>
            <a routerLink="/admin/reportarCorte" class="btn btn-danger btn-sm">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
            </a>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
  <hr class="linea-tablas">


  <!-- modal notificar -->
  <div id="notificarMora" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <legend>Notificacion</legend>

        </div>
        <div class="modal-body">
          <p> Enviara un mensaje de notificcion al correo del cliente:</p>
          <fieldset>
            <form [formGroup]="formCientesMora">

              <div *ngIf="datosCliente">
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number">Cliente</label>
                  <div class="col-sm-7">
                    <label class="datos-usuarios" for="">{{datosCliente.nombre}}</label>
                  </div>
                </div>
                <!--  -->
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number">Correo</label>
                  <div class="col-sm-7">
                    <label class="datos-usuarios" for="">stevenfoo@example.com</label>
                  </div>
                </div>
                <!--  -->
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number">Mensaje</label>
                  <div class="col-sm-7">
                    <textarea placeholder="mensaje de notificacion" class="form-control" formControlName="mensaje" cols="39"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Generar Notificacion</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin modal -->



  <!-- modal detalles facturas -->
  <div id="detalleFacturas" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <legend>Detalle Facturas</legend>
        </div>
        <div class="modal-body">
          <fieldset>
            <div *ngIf="detalleFacturas">
              <table datatable [dtOptions]="opcionesDataTable" class="table">
                <thead>
                  <tr>
                    <th>N° Factura</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                    <th>Saldo</th>
                    <th>Estado</th>
                    <th>Descripcion</th>
                  </tr>
                </thead>
                <tbody *ngFor="let fac of detalleFacturas">
                  <tr>
                    <td>{{fac.idFactura}}</td>
                    <td>{{fac.fecha | date }}</td>
                    <td>{{fac.valor}}</td>
                    <td>{{fac.saldo}}</td>
                    <td>{{fac.estado}}</td>
                    <td>{{fac.descripcion}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- fin modal -->
</div>
