<div class="tablas">
  <legend>Tipo Servicios</legend>

      <a data-toggle="modal" data-target="#crearTipoServicio" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus-sign">Crear Servicio</i>
      </a>

  <hr class="linea-tablas">
  <br>
  <div class="datos_tablas">

    <table datatable [dtOptions]="opcionesDataTable" class="row-border hover table table-responsive">
      <thead>
        <tr>
          <th>id Sericio</th>
          <th>Nombre servicio</th>
          <th>Descripcion</th>
          <th>Valor</th>
          <th>Estado</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <!-- filas -->
        <tr *ngFor="let servicio of listaTiposervicios">
          <td>{{servicio.idTipoServicio}}</td>
          <td>{{servicio.nombre}}</td>
          <td>{{servicio.descripcion}}</td>
          <td>{{servicio.valor}}</td>
          <td>Activo</td>
          <td>
            <a data-toggle="modal" data-target="#myModal" class="btn btn-warning btn-xs">
              <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
          </td>
          <td>
            <button (click)="preEliminar(servicio.idTipoServicio)" class="btn btn-danger btn-xs" href="#">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <hr class="linea-tablas">
</div>


<!-- Modal   crear -->
<!-- modal crear -->
<div id="crearTipoServicio" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <legend>Notificacion</legend>
      </div>
      <div class="modal-body">
        <!-- form ***** -->
        <fieldset>
          <form [formGroup]="formTipoServicio" (ngSubmit)="onSubmitformTipoServicio()">
            <div class="form-group col-sm-12">
              <label class="col-sm-3 control-label" for="card-number">Servicio</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="nombre" id="direccions" placeholder="Direccion">
              </div>
            </div>

            <div class="form-group col-sm-12">
              <label class="col-sm-3 control-label" for="card-number">Descripcion</label>
              <div class="col-sm-9">
                <select formControlName="descripcion" class="form-control">
                  <option value="internet">Internet</option>
                  <option value="television">Televicion</option>
                </select>
              </div>
            </div>

            <div class="form-group col-sm-12">
              <label class="col-sm-3 control-label" for="card-number">Valor</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="valor" id="valor" placeholder="Telefono">
              </div>
            </div>

            <hr class="linea-tablas">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-success btn-block" value="Generar Servicio" />
              </div>
            </div>
          </form>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<!-- fin modal reagendar -->
