<!-- formularios -->

<div class="tablas">

  <div class="col-sm-4">
    <!-- datos usaurio -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1 class="titulo-datos-2">Datos</h1>
      </div>
      <div class="panel-body">
        <img class="img-perfil-form img-responsive img-rounded" src="/src/assets/img/user_admin.png" alt="">
      </div>
      <!-- List group -->
      <ul *ngIf="datosEmpleado" class="list-group">
        <li class="list-group-item">{{datosEmpleado.nombre+' '+datosEmpleado.apellido}}</li>
        <li class="list-group-item">{{datosEmpleado.numeroDocumento}}</li>
        <li class="list-group-item">{{datosEmpleado.email}}</li>
      </ul>
    </div>
    <!--  -->
  </div>
  <div class="col-sm-8">
    <legend>Registro de Usuario</legend>
    <fieldset>
      <form [formGroup]="formUsuario" (ngSubmit)="onSubmitformUsuario()" #form="ngForm" class="form-horizontal">

        <h1 class="titulo-datos">Crear Usuario</h1>
        <hr class="linea-tablas">
        <!--  -->
        <div class="form-group row">
          <label class="col-sm-4 control-label">Empleado</label>
          <div class="col-sm-6">
            <select formControlName="empleado" (change)="seleccionEmpleado($event.target.value)" placeholder="Emplado" class="form-control">
              <option value="">seleccione un empleado</option>
              <option *ngFor="let emp of listaEmpleados" value="{{emp.numeroDocumento}}">{{emp.nombre+' '+
                emp.apellido}}
              </option>
            </select>
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Nombre Usuario</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre Usuario">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-holder-name">Contraseña</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" formControlName="password" placeholder="password">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label">Rol</label>
          <div class="col-sm-6">
            <select formControlName="rol" placeholder="Emplado" class="form-control">
              <option value="">seleccione un rol</option>
              <option *ngFor="let rol of rolesLista" value="{{rol.idRol}}">{{rol.nombre}}</option>
            </select>
          </div>
        </div>
        <!--  -->
        <hr class="linea-tablas">
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-6">
            <input type="submit" class="btn btn-success btn-block" value="Generar Usuario" />
          </div>
        </div>
      </form>

     
    
    
    </fieldset>
    <!--  -->
  </div>



