<div class="tablas">
  <legend>Programar Actividad</legend>
  <fieldset>
    <div id='wrap'>
      <div id='calendar'></div>
      <div style='clear:both'></div>
    </div>
    <hr class="linea-tablas">
  </fieldset>
  <div class="col-sm-11">
    <br>
    <div class="form-group">
      <a href="#" data-target="#modalConfirmProgra" data-toggle="modal" class="btn btn-success">Finalizar</a>

    </div>

  </div>
  <!-- modal -->
  <div id="modalConfirmProgra" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <legend>Registrar Pago</legend>

        </div>
        <div class="modal-body">
          <p> Desea Finalizar y Programar La actividad en la Fecha Seleccionada</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Programar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- din modal -->
</div>
