<div class="tablas">
  <legend>Registrar Pago</legend>
  <h1 class="titulo-datos">Datos Cliente-Factura</h1>
  <hr class="linea-tablas">
  <div class="col-sm-12">

    <div class="panel panel-default">
      <!-- datos cliente -->
      <div class="col-sm-4">
        <!-- datos usaurio -->
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h1 class="titulo-datos-2">Datos cliente</h1>
          </div>
          <div class="panel-body">
            <img class="img-perfil-form img-responsive img-rounded" src="/src/assets/img/user_admin.png" alt="">
          </div>
          <!-- List group -->
          <ul *ngIf="datosCliente" class="list-group">
            <li class="list-group-item"><strong>Nombre :</strong>{{datosCliente.nombre}}</li>
            <li class="list-group-item"><strong>Apellido :</strong>{{datosCliente.apellido}}</li>
            <li class="list-group-item"><strong>N° Documento :</strong>{{datosCliente.numeroDocumento}}</li>
          </ul>
        </div>
        <!--  -->
      </div>
      <!-- Form  busqueda usuario-->
      <div class="col-sm-8">
        <form [formGroup]="documento" (ngSubmit)="datosFacturaClienteRest()" class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Consecutivo Factura</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input formControlName="valor" type="text" class="form-control" placeholder="Buscar">
              <div class="input-group-btn">
                <input value="buscar" class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-search buscar"></i>

              </div>
            </div>
          </div>
        </form>
        <br>
        <hr>
        <form [formGroup]="formRegistroFactura" (ngSubmit)="generarRegistroPago()">
          <!-- datos factura -->
          <div *ngIf="datosFacturaCliente">
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Valor Factura</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="card-number">{{datosFacturaCliente.valor}}</label>
              </div>
            </div>
            <!--  -->
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Saldo Factura</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="card-number">{{datosFacturaCliente.saldo}}</label>
              </div>
            </div>
            <!--  -->
            <div class="form-group col-sm-12">
              <label class="col-sm-4 control-label">Fecha Pago Factura</label>
              <div class="col-sm-8">
                <label class="datos-usuarios" for="card-number">{{datosFacturaCliente.fecha | date }}</label>
              </div>
            </div>
          </div>
          <!--
          <div class="form-group col-sm-12">
            <label class="col-sm-4 control-label" for="card-number">Tipo de Pago</label>
            <div class="col-sm-8">
              <select formControlName="tipoPago" class="form-control">
                <option value="">--Tipo de Pago--</option>
                <option value="pagoTotal">pago Total</option>
                <option value="abono">Abono</option>
              </select>
            </div>
          </div> -->
          <div class="form-group col-sm-12">
            <label class="col-sm-4 control-label" for="card-number">Valor a Pagar</label>
            <div class="col-sm-8">
              <input #valor (keyup)="calcularSaldo(valor.value)" formControlName="valor" type="text" class="form-control"
                placeholder="valor">
            </div>
          </div>
          <!--  -->
          <div class="form-group col-sm-12">
            <label class="col-sm-4 control-label" for="card-number">Saldo</label>
            <div class="col-sm-8">
              <label class="datos-usuarios">{{ saldoPago }}</label>
            </div>
          </div>
          <!-- form pago -->
          <div class="form-group col-sm-12">
            <label class="col-sm-4 control-label" for="card-number">Fecha</label>
            <div class="col-sm-8">
              <label class="datos-usuarios">{{ fechaPago | date }}</label>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label class="col-sm-4 control-label" for="card-number">Descripcion</label>
            <div class="col-sm-8">
              <textarea class="form-control" formControlName="descripcion"></textarea>
            </div>
          </div>
          <hr class="linea-tablas">
          <div class="col-sm-2"></div>
          <div class="form-group col-sm-7">
            <br>
            <button type="submit" class="btn btn-success btn-lg btn-block">Generar
              Pago</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
