<!-- formularios -->

<div class="tablas">
  <form [formGroup]="formSuscripcion" (ngSubmit)="onSubmitformSuscripcion()" #form="ngForm" class="form-horizontal">

    <div class="col-sm-7">
      <legend>Registro de Cliente</legend>
      <fieldset>
        <h1 class="titulo-datos">Datos Cliente</h1>
        <hr class="linea-tablas">
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Tipo Documento</label>
          <div class="col-sm-8">
            <select formControlName="idTipo" class="form-control">
              <option *ngFor="let t of listaTipoDoumento" value="{{t.idTipo}}">{{t.siglas}}</option>
            </select>
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-holder-name">Documento</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="numeroDocumento" placeholder="Ceduala">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Nombre</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-holder-name">Apellido</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="apellido" placeholder="Nombre">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-holder-name">Correo</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Direccion</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="direccion" placeholder="Debit/Credit Card Number">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label" for="card-number">Telefono 1</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono">
          </div>
        </div>
        <!--  -->
        <div class="form-group">
          <label class="col-sm-4 control-label">Sucursal</label>
          <div class="col-sm-8">
            <select formControlName="idSucursal" class="form-control">
              <option *ngFor="let s of listaSucursales" value="{{s.idSucursal}}">{{s.nombre}}</option>
            </select>
          </div>
        </div>
      </fieldset>
    </div>
    <!-- otros datos datos -->
    <div class="col-sm-5">
      <legend>Servicios</legend>
      <fieldset>
        <!--  -->
        <div *ngFor="let ser  of listaServicios">
          <div class="funkyradio col-sm-12">
            <div class="funkyradio-success">
              <input type="checkbox" name="'checkbox'+ser.idTipoServicio" (change)="agregarSevicios($event,ser.idTipoServicio,ser.valor)"
                [id]="'checkbox'+ser.idTipoServicio" />
              <label [for]="'checkbox'+ser.idTipoServicio">{{ser.nombre}}</label>
            </div>
          </div>
        </div>
        <br>
        <hr class="linea-tablas">
        <h1 class="titulo-datos-2">Valor Total</h1>
        <br>
        <h1 class="titulo-datos">{{valorServicios}}</h1>
      </fieldset>
    </div>
    <br>
    <hr class="linea-tablas">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <input type="submit" class="btn btn-success btn-block" value="Generar Suscripcion" />
      </div>
    </div>

  </form>
  <!--  -->

</div>