
	<div class="presentacion">

		<img src="/src/assets/img/error/500.png" alt="">

		<div class="mensaje">
			<div class="error">
				<img src="/src/assets/img/error/x.png" alt="">
				<h2>500</h2>
			</div>
			<h1>error</h1>
			<h3>LO SENTIMOS HA OCURRIDO UN ERROR EN LA CONEXION</h3>
			<br>
			<a class="regreso" href="../index.html">Regresar al Inicio</a>
		</div>
	</div>
