<div class="tablas">
  <legend>Generar Facturas</legend>
      <hr class="linea-tablas">
    <br>
    <div class="datos_tablas">
      <table datatable [dtOptions]="opcionesDataTable" class="table table-responsive">

        <thead >
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Direccion</th>
            <th>Fecha</th>
            <th>Nº Cuenta</th>
            <th>Valor</th>
            <th>Fecha Limite</th>
          </tr>
        </thead>

        <tbody>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
          <!-- filas -->
          <tr>
            <td>Steve</td>
            <td>Foo</td>
            <td>1032987345</td>
            <td>cll 23 97-12</td>
            <td>23-01-2018</td>
            <td>2354</td>
            <td>120400</td>
            <td>01-02-2018</td>
          </tr>
        </tbody>

      </table>
    </div>

    <hr class="linea-tablas">
</div>
