<div class="tablas">
  <fieldset>
    <legend>Generar Actividad</legend>
    <div class="col-sm-4">
      <!-- datos usaurio -->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h1 class="titulo-datos-2">Datos cliente</h1>
        </div>
        <div class="panel-body">
          <img class="img-perfil-form img-responsive img-rounded" src="/src/assets/img/user_admin.png" alt="">
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Steven Foo</li>
          <li class="list-group-item">1032987345</li>
          <li class="list-group-item">stevenfoo@example.com</li>
        </ul>
      </div>
      <!--  -->
    </div>

    <div class="col-sm-7">
      <div class="form-group col-sm-12">
        <h1 class="titulo-datos">Datos Actividad</h1>
        <hr class="linea-tablas">
      </div>
      <!-- datos cliente -->

      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label" for="card-number">Actividad Tecnica</label>
        <div class="col-sm-8">
          <label class="datos-usuarios" for="">Corte de servicio</label>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label">Servicios :</label>
        <div class="col-sm-8">
          <label class="datos-usuarios">Television</label>
          <label class="datos-usuarios">Internet</label>

        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label" for="card-number">Observaciones</label>
        <div class="col-sm-8">
          <textarea class="form-control" name="" id="" cols="45" rows="5"></textarea>
        </div>

      </div>

      <div class="form-group">
        <hr class="linea-tablas">
        <div class="col-sm-12">
          <br>
          <a routerLink="programar_actividad_corte.html" id="" class="btn btn-success btn-lg btn-block">Agendar
            Actividad</a>
        </div>
      </div>

    </div>
  </fieldset>

</div>
