<div class="tablas">
  <legend>Registrar Material</legend>
  <div class="col-sm-12">
    <div class="form-group col-sm-6">
      <label class="col-sm-6 control-label" for="card-number">Consecutivo Agendamiento</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="valor">
      </div>
    </div>
    <div class="col-sm-5">
      <!-- datos cliente -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Cliente</label>
        <div class="col-sm-9">
          <label class="datos-usuarios" for="">Jhon doe</label>

        </div>
      </div>
      <!-- datos cliente -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Direccion</label>
        <div class="col-sm-9">
          <label class="datos-usuarios" for="">cll 23 89-23</label>

        </div>
      </div>
      <!-- datos cliente -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Fecha</label>
        <div class="col-sm-9">
          <label class="datos-usuarios" for="">14-03-2018</label>

        </div>
      </div>
    </div>
    <hr class="linea-tablas">

  </div>
  <div class="col-sm-12">
    <br>
    <table class="table tablas-material responsivetable">
      <thead>
        <tr>
          <th>Codigo</th>
          <th style="width: 60%;">Concepto</th>
          <th>Cantidad</th>

        </tr>

      </thead>

      <tbody>
        <!-- filas -->
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control"></td>
          <td><label for="" class="datos-usuarios">concepto</label></td>
          <td><input type="text" class="form-control"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="linea-tablas">
  <div class="col-sm-11">
    <br>
    <button data-target="#modalConfirmar" data-toggle="modal" class="btn btn-success btn-lg">Finalizar</button>
  </div>
</div>
<!-- fin tablas -->
<!-- modal -->
<div id="modalConfirmar" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <legend>Alerta</legend>

      </div>
      <div class="modal-body">
        <p> Finalizar y Guardar el Material Registrado</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- din modal -->
