<div class="tablas">
  <legend>Servicios Agendados</legend>
   <hr class="linea-tablas">
  <br>

  <div class="datos_tablas">
    <table datatable [dtOptions]="opcionesDataTable" class="table table-responsive">

      <thead>
        <tr>
          <th>Tecnico</th>
          <th>Fecha</th>
          <th>Direccion</th>
          <th>Actividad Tecnica</th>
          <th>Cliente</th>
          <th>Consecutivo</th>
          <th>Consecutivo</th>
          <th>ReAgendar</th>
          <th>Cambiar estado</th>
        </tr>
      </thead>

      <tbody>
        <!-- filas -->
        <tr>
          <td>jhon Roy</td>
          <td>02-23-2018</td>
          <td>cll 23 97-12</td>
          <td>mantenimiento</td>
          <td>Steve Foo</td>
          <td>3</td>
          <td>reagendar<td>
            <button data-target="#reagendar" data-toggle="modal" class="btn btn-warning btn-sm">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
            </button>
          </td>
          <td>
            <a data-target="#cambiarEstado" data-toggle="modal" id="" class="btn btn-info btn-sm    " href="#">
              <i class="glyphicon glyphicon-check"></i>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <hr class="linea-tablas">
</div>
<!-- modal cambiar estado -->
<div id="cambiarEstado" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <legend>Notificacion</legend>

      </div>
      <div class="modal-body">

        <fieldset>
          <!--         <form action="">
            <div class="col-sm-12">
              <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label" for="card-number">Cliente</label>
                <div class="col-sm-8">
                  <label class="datos-usuarios" for="">Steve Foo</label>
                </div>
              </div>
              <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label" for="card-number">estado</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="">Selecione...</option>
                    <option value="">Activo</option>
                    <option value="">Cancelado</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label" for="card-number">Observaciones</label>
                <div class="col-sm-8">
                  <textarea placeholder="mensaje de notificacion" class="form-control" name="mensaje" id="" cols="39"
                    rows="4"></textarea>
                </div>
              </div>

            </div>

          </form> -->

        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Cambiar</button>
      </div>
    </div>
  </div>
</div>
<!-- fin cmodal cambiar estado -->

<!-- modal reagendar -->
<div id="reagendar" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <legend>Notificacion</legend>

      </div>
      <div class="modal-body">

        <fieldset>
          <!-- <form action="">
            <div class="col-sm-12">
              <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label" for="card-number">Cliente</label>
                <div class="col-sm-8">
                  <label class="datos-usuarios" for="">Steve Foo</label>
                </div>
              </div>

              <div class="form-group col-sm-12">
                <label class="col-sm-4 control-label" for="card-number">Movido por el que se reagenda</label>
                <div class="col-sm-8">
                  <textarea placeholder="mensaje" class="form-control" name="mensaje" id="" cols="39" rows="4"></textarea>
                </div>
              </div>

            </div>

          </form> -->

        </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <a href="cronograma_reagendar.html" type="button" class="btn btn-success">Agendar</a>
      </div>
    </div>
  </div>
</div>
<!-- fin modal reagendar -->
