<div class="tablas">
  <fieldset>
    <legend>Generar Actividad</legend>

    <div class="col-sm-4">

      <!-- datos usaurio -->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h1 class="titulo-datos-2">Datos cliente</h1>
        </div>
        <div class="panel-body">
          <img class="img-perfil-form img-responsive img-rounded" src="assets/img/user_admin.png" alt="">
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li class="list-group-item">Steven Foo</li>
          <li class="list-group-item">1032987345</li>
          <li class="list-group-item">stevenfoo@example.com</li>
        </ul>
      </div>
      <!--  -->
    </div>


    <div class="col-sm-6">
      <div class="form-group col-sm-12">
        <h1 class="titulo-datos">Datos Actividad</h1>
        <hr class="linea-tablas">
      </div>
      <!-- datos cliente -->

      <div class="form-group col-sm-12">

        <label class="col-sm-4 control-label" for="card-number">Actividad Tecnica</label>
        <div class="col-sm-8">
          <label class="datos-usuarios" for="">Servico Extra</label>

        </div>
      </div>
      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label" for="card-number">Servicios :</label>
        <div class="col-sm-8">
          <div class="funkyradio col-sm-12">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox1" checked/>
              <label for="checkbox1">Television</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
            <label class="col-sm-7 control-label" for="card-number">Puntos Television</label>
          </div>
          <div class="funkyradio col-sm-12">
            <br>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox2" checked/>
              <label for="checkbox2">Internet</label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <select class="form-control">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
            <label class="col-sm-7 control-label" for="card-number">MB Adicionales</label>
          </div>
        </div>

      </div>
      <!-- datos cliente -->
      <div class="form-group col-sm-12">

        <label class="col-sm-4 control-label" for="card-number">Valor Adicional</label>
        <div class="col-sm-8">
          <label class="datos-usuarios" for="">10000</label>

        </div>
      </div>
      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label" for="card-number">Observaciones</label>
        <div class="col-sm-8">
          <textarea class="form-control" name="" id="" cols="45" rows="5"></textarea>
        </div>

      </div>

      <div class="form-group">
        <hr class="linea-tablas">
        <div class="col-sm-12">
          <br>
          <a href="programar_actividad_servicio.html" id="" class="btn btn-success btn-lg btn-block">Agendar Actividad</a>
        </div>
      </div>

    </div>
  </fieldset>
</div>
