<!-- formularios -->

<div class="tablas">
  <legend>Editar Datos</legend>
  <div class="col-sm-4">
    <!-- datos usaurio -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1 class="titulo-datos-2"></h1>
      </div>
      <div class="panel-body">
        <img class="img-perfil-form img-responsive img-rounded" src="/src/assets/img/user_admin.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <form [formGroup]="formEditDatos" (ngSubmit)="onSubmitEditarDatos()" #form="ngForm" class="form-horizontal">

      <fieldset>
        <h1 class="titulo-datos">Datos Usuario</h1>
        <hr class="linea-tablas">
        <div class="col-sm-11">
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-number">Tipo Documento</label>
            <div class="col-sm-8">
              <select formControlName="idTipo" class="form-control">
                <option value="">--secceione tipo doc</option>
                <option *ngFor="let t of listaTipoDoumento" value="{{t.idTipo}}">{{t.siglas}}</option>
              </select>
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-holder-name">Documento</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="numeroDocumento" placeholder="Ceduala">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-number">Nombre</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Nombre">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-holder-name">Apellido</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-holder-name">Correo</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-number">Direccion</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="direccion" placeholder="Direccionr">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label" for="card-number">Telefono 1</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="telefono" placeholder="Telefono">
            </div>
          </div>
          <!--  -->
          <div class="form-group">
            <label class="col-sm-4 control-label">Sucursal</label>
            <div class="col-sm-8">
              <select formControlName="idSucursal" class="form-control">
                <option value="">--Secciones sucursal--</option>
                <option *ngFor="let s of listaSucursales" value="{{s.idSucursal}}">{{s.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
      <hr class="linea-tablas">
      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <input type="submit" class="btn btn-success btn-block" value="Generar Suscripcion" />
        </div>
      </div>

    </form>
  </div>
  <!--  -->

</div>
