<div class="tablas">
  <legend>Generar Actividad</legend>

  <hr class="linea-tablas">
  <br>
  <div class="datos_tablas">

    <table datatable [dtOptions]="opcionesDataTable" class="row-border hover table table-responsive">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Documento</th>
          <th>Direccion</th>
          <th>Estado</th>
          <th>Telefono1</th>
          <th>Paquete Extra</th>
          <th>Actividad Tecnica</th>
        </tr>
      </thead>
      <tbody *ngFor="let cliente of listaClientes">
        <!-- filas -->
        <tr>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.numeroDocumento}}</td>
          <td>{{cliente.direccion}}</td>
          <td>activo</td>
          <td>{{cliente.telefono}}</td>
          <td>
            <a routerLink="/GenerarServicioExtra" routerLinkActive="router-link-active" class="btn btn-success btn-xs">Agregar
              <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
          </td>
          <td>
            <a routerLink="/GenerarServicioActividad" routerLinkActive="router-link-active"  class="btn btn-warning btn-xs" href="#">Generar
              <i class="glyphicon glyphicon-exclamation-sign"></i>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <hr class="linea-tablas">


</div>
