body {

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #00222b;
  margin-top: 40px;
  min-width: 640px;
}

/*==============================*/
/*====== Recently connected  heading =====*/
/*==============================*/
.icono {
  color: white;
}

.memberblock {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 15px
}

.member {
  width: 24%;
  float: left;
  margin: 2px 1% 2px 0;
  background: #ffffff;
  border: 1px solid #d8d0c3;
  padding: 3px;
  position: relative;
  overflow: hidden
}

.memmbername {
  position: absolute;
  bottom: -30px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  line-height: 30px;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 11px;
  transition: 0.5s ease all;
}

.member:hover .memmbername {
  bottom: 0
}

.panel-default>.panel-heading {
  color: #607D8B;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  border-color: #e1eaef;
}

.page-header.small {
  position: relative;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
}

.favorite i {
  color: #eb3147;
}

.btn i {
  font-size: 17px;
}

.panel {
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
}

.pad {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #c3c3c3;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.u-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-input {
  outline: 0;
  border: 1px solid #d0d0d0;
  padding: 5px 10px;
  height: 35px;
  font-size: 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
}

.c-badge {
  font-size: 10px;
  font-weight: 700;
  min-width: 17px;
  padding: 5px 4px;
  border-radius: 100px;
  display: block;
  line-height: 0.7;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #f91605;
}

.c-badge--header-icon {
  position: absolute;
  bottom: -9px;
}

.tooltip {
  width: 120px;
}

.tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  background-color: #051835;
  font-size: 12px;
  border-radius: 3px;
}

.tooltip-arrow {
  border-right-color: #051835 !important;
}

.hamburger-toggle {
  position: relative;
  padding: 0;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  order: 1;
}

.hamburger-toggle [class*='bar-'] {
  display: block;
  background: #102c58;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  border-radius: 2px;
  height: 2px;
  width: 24px;
  margin-bottom: 4px;
}

.hamburger-toggle [class*='bar-']:nth-child(2) {
  width: 18px;
}

.hamburger-toggle [class*='bar-']:last-child {
  margin-bottom: 0;
  width: 12px;
}

.hamburger-toggle.is-opened {
  left: 3px;
}

.hamburger-toggle.is-opened [class*='bar-'] {
  background: #102c58;
}

.hamburger-toggle.is-opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform-origin: 15% 15%;
}

.hamburger-toggle.is-opened .bar-mid {
  opacity: 0;
}

.hamburger-toggle.is-opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
  transform-origin: 15% 95%;
  width: 24px;
}

.hamburger-toggle:focus {
  outline-width: 0;
}

.hamburger-toggle:hover [class*='bar-'] {
  background: #f5642d;
}

.header-icons-group {
  display: flex;
  order: 3;
  margin-left: auto;
  height: 100%;
  border-left: 1px solid #cccccc;
}

.header-icons-group .c-header-icon:last-child {
  border-right: 0;
}

.c-header-icon {
  position: relative;
  display: flex;
  float: left;
  width: 70px;
  height: 100%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-right: 1px solid #cccccc;
}

.c-header-icon i {
  font-size: 14px;
  line-height: 40px;
}

.c-header-icon--in-circle {
  border: 1px solid #d0d0d0;
  border-radius: 100%;
}

.c-header-icon:hover i {
  color: #f5642d;
}

.l-header {
  padding-left: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  background: #ffffff;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

.l-header__inner {
  height: 100%;
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: stretch;
  border-bottom: 1px solid;
  border-color: #cccccc;
}

.sidebar-is-expanded .l-header {
  padding-left: 220px;
}

.l-sidebar {
  width: 70px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(135deg,
    rgba(17, 89, 235, 1) 0%, rgba(13, 10, 107, 1) 39%,
    rgba(21, 79, 161, 1) 70%, rgba(16, 12, 105, 1) 100%);
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.l-sidebar .logo {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #051835;
}

.l-sidebar .logo .logo__txt {
  font-size: 26px;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
  max-width: 140px;
}

.l-sidebar__content {
  height: 100%;
  width: 60px;
  transition: width 0.5s linear;
  position: fixed;
  background-color: rgba(19, 31, 112, 0.5);
  background: rgba(65, 86, 218, 0.5);
}

.sidebar-is-expanded .l-sidebar {
  width: 220px;
}

.l-sidebar__content_expanded {
  width: 210px;
  transition: width 0.5s linear;
}

.c-menu>ul>li>a {
  color: white;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
}

.c-menu>ul {
  display: flex;
  flex-direction: column;
}

.c-menu>ul .c-menu__item {
  color: #fff;
  max-width: 100%;
  overflow: hidden;
}

.c-menu>ul .c-menu__item__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  position: relative;
  cursor: pointer;
  border-bottom: solid 3px #1100aa;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c-menu>ul .c-menu__item__inner:before {
  position: absolute;
  content: " ";
  height: 0;
  width: 2px;
  left: 0;
  top: 50%;
  margin-top: -18px;
  background-color: #ff3b30;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c-menu>ul .c-menu__item.is-active .c-menu__item__inner {
  border-left-color: #5f9cfd;
  background-color: #1e3e6f;
}

.c-menu>ul .c-menu__item.is-active .c-menu__item__inner i {
  color: #5f9cfd;
}

.c-menu>ul .c-menu__item.is-active .c-menu__item__inner .c-menu-item__title span {
  color: #5f9cfd;
}

.c-menu>ul .c-menu__item.is-active .c-menu__item__inner:before {
  height: 36px;
  opacity: 1;
}

.c-menu>ul .c-menu__item:not(.is-active):hover .c-menu__item__inner {
  background-color: #f5642d;
  border-left-color: #f5642d;
}

.c-menu>ul .c-menu__item i {
  flex: 0 0 50px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.c-menu>ul .c-menu__item .c-menu-item__expand {
  position: relative;
  left: 100px;
  padding-right: 10px;
  margin-left: auto;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__expand {
  left: 0px;
}

.c-menu>ul .c-menu__item .c-menu-item__title {
  flex-basis: 100%;
  padding-right: 10px;
  position: relative;
  left: 220px;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.c-menu>ul .c-menu__item .c-menu-item__title span {
  font-weight: 400;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar-is-expanded .c-menu>ul .c-menu__item .c-menu-item__title {
  left: 0px;
  opacity: 1;
}

.c-menu>ul .c-menu__item .c-menu__submenu {
  background-color: #051835;
  padding: 10px;
  font-size: 12px;
  display: none;
}

.c-menu>ul .c-menu__item .c-menu__submenu li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-color: #072048;
  color: #5f9cfd;
}

.c-menu>ul .c-menu__item .c-menu__submenu li:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}

main.l-main {
  width: 100%;
  height: 100%;
  padding: 70px 0 0 70px;
  -webkit-transition: padding 0.5s ease-in-out;
  -moz-transition: padding 0.5s ease-in-out;
  -ms-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

a.list-group-item {
  height: auto;
  min-height: 120px;
  text-align: center
}

a.list-group-item.active small {
  color: #fff;
}

/* fin estilos menu ================================================================================= */

/* estilos header ================================================================================= */

#opcion-usuario {
  float: right;
}

#opcion-usuario li a {
  padding: 0px;
  color: #051835;

  margin: 10px;
  width: 100px;
  border-radius: 50px;
}

#opcion-usuario img {
  width: 50px;
  max-width: 30px;
  border-radius: 50px;
}

#opcion-usuario>li>a:hover,
.nav>li>a:focus {
  background: white;
  color: black;
}

#opcion-usuario .dropdown-menu li a {
  color: black;
  width: 90%;
  margin: 3px;
  padding: 4px;

}

#opcion-usuario .dropdown-menu li a:hover {
  color: white;
  background: rgb(39, 74, 111);
  width: 90%;
  border-radius: 0px;

}

/* contenido=============================================================================================*/



#informaion-modulo {
  height: 40px;
  background: url('/src/assets/img/servidores.jpg') center;
  background-size: 100% 100%;
  width: 100%;
  margin-top: 70px;
}

#informaion-modulo h1 {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 8px;
  float: right;
}


#datos-contenido {
  width: 100%;
  padding: 20px;
  padding: 30px;
  background-color: #cfcfcf;

}

#formularios {
  width: 60%;
  background: white;
  padding: 20px;
  font-size: 12px;
  font: message-box;
  font-size: 19px;
  display: inline-block;
  margin: 5px;
}

.tablas {
  width: 100%;
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  font-size: 12px;
  font: message-box;
  font-size: 14px;
  display: inline-block;
  margin: 5px;
  margin-bottom: 30px;


}

.table tbody tr td {

  border-top: 2px solid #0c4554;
  text-align: center;
  /* padding: 5px; */
  color: #00222b;
}

.table tbody tr:hover {
  background: #c7d6d4;
}

.table thead tr th {

  background: #615c61;
  color: white;
  text-align: center;
  border-left: solid 1px white;
  font-size: 14px;
  width: auto;
  padding: 3px 10px;
}

.tablas-material thead tr th {
  background: #3a393b;
  color: white;
  text-align: center;
  border-left: solid 1px white;
}

.tablas-material tbody tr td {
  border-top: 0px !important;
  padding: 1px;
  margin: 1px;
}

.tablas-material tbody tr td label {
  margin: 1px;
  padding: 4px;
}

.tablas-material tbody tr:hover {
  background: white;
}

.table {
  overflow-y: scroll;
}

.otros-datos {
  width: 35%;
  background: white;
  padding: 20px;
  font-size: 12px;
  font: message-box;
  display: inline-table;
  margin: 5px;
  float: left;
}



legend {

  height: 45px;
  background: linear-gradient(45deg, rgba(26, 80, 94, 1) 0%, rgba(5, 48, 59, 1) 29%, rgba(31, 57, 64, 1) 54%, rgba(1, 51, 64, 1) 71%, rgba(36, 74, 82, 1) 100%);
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}


.form-control {
  border: 2px solid #168072;
  display: block;
  width: 100%;
  background: #f4f4f4;
  text-align: center;
}

.form-control input {
  font-size: 17px;
  text-align: right;
  padding: 6px;
  color: #051835;
}

.btn-info {
  background: #007cad;
}

.btn-success {
  background: #008080;
  float: right;
}

.btn-success:hover {
  background: #044444;
}

.btn-success:focus {
  background: #044444;
}

.form-group label {
  text-align: right;
  padding: 6px;
  color: #051835;
}

.datos-usuarios {
  border: solid 2px #008080;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0px 8px 8px 0px;
  text-align: center !important;
  padding: 5px;
  background: whitesmoke;
}

.titulo-datos {
  text-align: center;
  font-size: 30px;
  color: rgba(1, 51, 64, 1);
  margin: 0px;
}

.titulo-datos-2 {
  text-align: center;
  margin: 0px;
  font-size: 20px;
  color: #00222b
}

.linea-tablas {
  border: solid 2px #00222b;
  width: 100%;
  display: inline-block;
}

/* check box  _________________________________*/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #168072;
  font: message-box;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty~label {
  position: relative;
  line-height: 2em;
  text-indent: 3.25em !important;
  margin-top: 0em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left !important;
  padding: 0px !important;
}

.funkyradio input[type="checkbox"]:empty~label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: silver;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:checked~label:before {
  content: '\2714';
  text-indent: .9em;
  color: black;
  background-color: whitesmoke;
}

.funkyradio-success input[type="checkbox"]:checked~label:before {
  color: #fff;
  background-color: green;
}

/* estilos modal ===================================*/

.modal {
  font: message-box;
}

.modal legend {
  text-align: center;
  margin: 0px;
}

.invalid-feedback[_ngcontent-c7],
.valid-feedback[_ngcontent-c7] {
  display: block;
  color: red;
  text-align: center;
}

/*responsive===========================================*/

@media (min-width: 668px) {

  /*Allow main to be next to Nav*/
  .main {
    position: absolute;
    width: calc(100% - 30px);
    /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }
}

/* responvie 1330 px   _______________________*/

@media (min-width: 1330px) {
  #contenido-modulo {
    margin-left: 60px;
    height: auto;
  }

  /*css aplica con menu extendico con js*/

  .contenido_modulo_expand {
    margin-left: 220.5px !important;
    transition: margin-left 0.5s linear;
  }
}

@media (min-width: 668px) and (max-width:1330px) {



  #contenido-modulo {
    margin-left: 60px;
  }
}

@media (max-width: 668px) {
  #contenido-modulo {
    margin-left: 70px;
  }
}

@media (max-width: 900px) {
  .datos_tablas {
    overflow-x: scroll;
  }
}

@media (max-width: 768px) {
  .img-responsive {
    width: 170px;
  }
}
