<div [ngClass]="openMenuBody">
  <app-menu-header></app-menu-header>
</div>
<div id="contenido-modulo" [ngClass]="menuService.openContenido">
  <!-- informacion modulo -->
  <div id="informaion-modulo">
    <h1>{{menuService.ubicacionRutaMenu.toUpperCase()}}</h1>
  </div>
  <!--  datos  -->
  <div id="datos-contenido">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>

</div>
