<div class="tablas">
  <legend>Consultar Factura </legend>

  <form [formGroup]="formBusquedaFactura" (ngSubmit)="consultarFacturasCliente()" #form="ngForm">
    <div class="form-group col-sm-12">
      <label class="col-sm-4 control-label">Numero Documento</label>
      <div class="col-sm-5">
        <div class="input-group">
          <input type="text" formControlName="numeroDocumento" class="form-control" placeholder="Buscar">
          <div class="input-group-btn">
            <input class="btn btn-success" type="submit" value="Buscar">
              <i class="glyphicon glyphicon-search"></i>
          </div>
        </div>
      </div>
    </div>
  </form>
  <h1 class="titulo-datos">Datos Factura</h1>
  <hr class="linea-tablas">
  <div *ngIf="datosFacturas" class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>N° Factura</th>
          <th>N° Cuenta</th>
          <th>Valor</th>
          <th>Saldo</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>descripcion</th>
          <th>Imprimir</th>
        </tr>
      </thead>
      <tbody *ngFor="let datos of datosFacturas">
        <tr>
          <td>{{datos.idFactura}}</td>
          <td>{{datos.cuentaDto.idCuenta}}</td>
          <td>{{datos.valor}}</td>
          <td>{{datos.saldo}}</td>
          <td>{{datos.estado}}</td>
          <td>{{datos.fecha}}</td>
          <td>{{datos.descripcion}}</td>
          <td><button class="btn-primary">imp</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- tablas ______________________________________________________________ -->

<!-- otros datos datos -->
<!-- fin otros datos 1 -->
