<div class="tablas">
  <legend>Programar Actividad Servicio</legend>

  <div id='wrap'>
    <!--  -->
    <div *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar
      [options]="calendarOptions"
      (eventClick)="eventClick($event.detail)"
      [(eventsModel)]="events"></ng-fullcalendar>
  </div>
    <!--  -->
  </div>
  <hr class="linea-tablas">

  <div class="col-sm-11">
    <br>
    <div class="form-group">
      <a href="#" data-target="#modalConfirmProgra" data-toggle="modal" class="btn btn-success">Finalizar</a>

    </div>

  </div>
  <!-- modal -->
  <div id="modalConfirmProgra" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <legend>Registrar Pago</legend>
        </div>
        <div class="modal-body">
          <p> Desea Finalizar y Programar La actividad en la Fecha Seleccionada</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Programar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- din modal -->
</div>
