body {
	background: white;
	background-size: 100% 100%;
	font-family: Impact, fantasy;
	margin: 0px;
}

/* estilos menu ======================================================================*/

.bg-inverse {
	background: red;
	transition: all 1s ease;
}

.logo {
	width: 110px;
	margin: 0px;
}

.menu {
	height: 60px;
	background-color: rgba(50, 44, 44, 0.5);
	background: rgba(50, 44, 44, 0.5);
	color: rgba(50, 44, 44, 0.5);
	border-bottom: solid 1px white;
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 2;

}

.navbar-inverse .navbar-nav li a {

	color: white;
	font-family: Impact, fantasy;
	margin-right: 1px;
	font-size: 12px;

}

/* estilos css scroll menu -----------------*/

.navInverse {
	background: white;
	border-bottom: solid 2px orange;
}

.navInverse .navbar-nav li a {
	color: currentColor;
}

/*- fin estilos css scroll menu ------------*/

.navbar-inverse .navbar-nav li a:hover {

	color: rgba(255, 93, 0, 0.8);
	font-size: 13px;

}

/* stilos menu responsive ----------------- */

@media(max-width:771px) {
	.navbar-inverse .navbar-nav > li a {
		color: white;
		margin-right: 15px;
		font-family: Impact, fantasy;
		font-size: 12px;
		margin-right: 15px;

	}
	.descripcion {
		margin-top: 20px;

	}
	.navbar-inverse .navbar-nav li a {
		height: 60px;
		background-color: rgba(50, 44, 44, 0.5);
		background: rgba(50, 44, 44, 0.5);
		color: rgba(50, 44, 44, 0.5);
		color: white;
	}
}

/* fin stilos menu responsive ----------------- */

.descripcion {
	border-left: solid 3px white;
	height: 300px;


}

/* fin estilos menu =================================================================*/

.contenido {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(237, 234, 237, 1) 12%, rgba(245, 242, 245, 1) 90%, rgba(255, 255, 255, 1) 100%);

	z-index: -3;
	position: relative;
}

/*-----------------------------------------*/

.container h3 {
	padding: 2px;
	border-bottom: solid 2px orange;

}

/* eslogan ----------------------------------*/

.titulo {
	font-family: fantasy;
	margin-top: 10px;
	color: darkred;
	margin-left: 30px;
}


/* imagen de presentacion -------------------*/

#presentacion {

	height: 600px;
	background: url('/src/assets/img/antena.jpg') fixed center no-repeat;
	background-size: 100% 700px;
	margin-bottom: 0px;

}

#presentacion h1 {
	text-align: center;
	padding: 0px;
	margin: 0px;
	color: white;
	font: oblique bold 320% cursive;

}
 .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
	max-width: 100%;
	height: 100%;
	width: 100%;
	min-height: 600px;
    /* height: auto; */
}

@media (max-width:800px) {
	#presentacion h1 {
		text-align: center;
		padding: 0px;
		margin: 0px;
		color: white;
		font: oblique bold 220% cursive;
	}
}

/* footer ===============================================================-*/

footer {

	background-color: black;
	color: aliceblue;
}

/* estilos modal =========================================================*/

.modal-content {
	-webkit-box-shadow: -1px 0px 67px -15px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: -1px 0px 67px -15px rgba(0, 0, 0, 0.56);
	box-shadow: -1px 0px 67px -15px rgba(0, 0, 0, 0.56);

	border: solid 1px white;
}

.logoLogin img{
	margin-left: 40%;
	margin-right: 40%;
	width: 20%;
	height: 50px;
	margin-bottom: 10px;
}
@media (max-width:751px){
	.logoLogin img{
	margin-left: 40%;
	margin-right: 40%;
	width: 20%;
	height: 50px;
	margin-bottom: 10px;
}
}


#form_login input:focus {
	border: solid 1px red;
}
#form_login input {
	height: 40px;
	font-size: 16px;
}

.brnIngresar {
	background: #39b89f;
	color: white;
	width: 100%;
	height: 40px;
	padding: 3px;
}
.brnIngresar:hover {
	background: #3c9e86;
	padding: 2px;
	color: aliceblue;
}

#datosLogin {
	color: black;
	text-align: center;
}
#form-recuperacion p{
	width: 100%;
}

#contenido-registro{
	display: none;
}
#contenido-recuperacion{
	display: none;
}
.modal-body {
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
padding: 1em 2em;

  }
  .modal-content{
    background-color: rgba(186, 188, 183, 0.2);
    background: rgba(186, 188, 183, 0.2);
  }

  .modal-body input {
    border-radius: 1em;
    height: 50px;


    }
/* estilos informacion ======================================== */
.panel-thumbnail img{
	height: 200px;
	width: 100%;
}
.linea {
	border: solid 4px white;
}

/* fin estilos informacion ===================================== */
.invalid-feedback{
  color:red;
}
.invalid-feedback[_ngcontent-c3], .valid-feedback[_ngcontent-c3] {
    display: block;
    color: red;
}
/* estilos planes y costos  *===================================*/

.indicador {

	width: 9px;
	height: auto;
	border-radius: 50px;
}

.planes {
	width: 100%;
	margin-top: 20px;
	border-bottom: solid 4px white;
	height: auto;
}

.planes img {
	width: 70px;

}

.costos {
	width: 90%;
	height: auto;
	float: right;
	border-radius: 8px;
	padding: 20px;
	z-index: -1;
}

/* responsive costos -------*/

@media (max-width:800px) {
	.planes img {
		width: 40px;
	}
}

/* fin responsive costos -------*/

/* fin  estilos planes y costos  *****************************************************************/

/*estilos contacto *****************************************************************************+*/

#contacto {
	width: 100%;
	background: url('/src/assets/img/ubicacion.png') center;
	background-size: 50% 100%;
	opacity: 0.9;
	padding: 20px;
	margin-top: 30px;
	height: auto;

}

#contacto h1 {
	text-align: center;
	font-size: 40px;
	color: white;
}

.map{
	border-bottom: solid 4px orange;
	border-top: solid 4px orange;
	background-color: rgba(0, 0, 11, 0.6);
	background: rgba(0, 0, 11, 0.6);
	padding: 40px;
	padding-top: 0px;
}

.map iframe {
	border: solid 2px black;
}

.titulo-contacto {
	margin-top: 50px;
	background: linear-gradient(135deg, rgba(255, 175, 75, 1) 0%, rgba(255, 146, 10, 1) 100%);
}

#form_contacto input {
	padding: 10px;
	width: 100%;

	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	border-bottom: solid 3px orange;
	color: midnightblue;



}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
		color: #a09ea1;

}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #a09ea1;

}
@media (max-width:800px) {
	#contacto {
	background-size: 100% 100%;
	}
}


/* estilos contacto =========================================================================*/
header img{
	width: 50px;
}
/* texto validaciones*/
.error{
	color:red;
	width: 100%;
	font-family: "calibri", Garamond, 'Comic Sans';

}
/* footer ****************************************************************************************/


/* Footer */
.footer {
    position: relative;
    background-color: #076366;
    color: #7d7975;
    padding: 10px 0 10px;
    font-size:16px;
}
.footer p {
    line-height:26px;
    color : #fff;
}
.footer h5 {
    font-size: 22px;
    font-weight: 700;
    color: #f89603  ;
	padding-bottom: 6px;
	margin: 0px;
	font-family: "Open Sans";

}
.footer h5:after {
    content: '';
    display: block;
	margin: 0px;
    width: 40%;
    height: 1px;
}

.footer ul {
    line-height:35px;
    margin: 0px;
	color:#fff;
	font-family: "Open Sans";

}

.footer a:hover {
    color: #175272 ;
}



/*footer bottom */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 25px;
    border-top: 1px solid #2f2f33 ;
    background: #1e1d22  ;

}
.copyright-text p {
    color: #7d7975;
    margin-top: 18px;
    margin-bottom: 0;
	font-size:15px;
	font-family: "Open Sans";
}




