	<!-- menu ==========================================================================-->
	<nav id="menu" class="menu navbar navbar-inverse" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img class="logo" src="/src/assets/img/logo.png" alt="">
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a id="inicio" href="home.html">Page English</a>
					</li>
					<li>
						<a id="inicio" href="#">Inicio</a>
					</li>
					<li>
						<a id="servicios" href="#">Nosotros</a>
					</li>
					<li>
						<a id="contactenos" href="#">Contactenos</a>
					</li>
					<li>
						<a href="#" data-toggle="modal" data-target="#modallLogin">login</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- fin container -->
	</nav>
	<!-- fin menu ======================================================================= -->


	<!-- contenido principal ============================================================ -->
	<!-- Page Content -->
	<div id="presentacion">

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="/src/assets/img/antena.jpg">
					<div class="carousel-caption">
						<!--  -->
						<h2 class="my-4 titulo">Red TV<small>Telecomunicaciones</small></h2>
						<!-- <h1><img src="img/presentacin.jpg" alt="">Entretenimiento para todos</h1> -->
						<h1>
							<i class="centercode"></i>Entretenimiento</h1>
						<!-- Slogan -->
						<h1>
							<i class="centercode"></i>Para todos</h1>
						<!-- Slogan -->
					</div>
				</div>

				<div class="item">
					<img src="/src/assets/img/control_tv.jpg">
					<div class="carousel-caption">
						<!--  -->
						<h2 class="my-4 titulo">Red TV
							<!-- titulo -->
							<small>Telecomunicaciones</small>
						</h2>
						<!-- <h1><img src="img/presentacin.jpg" alt="">Entretenimiento para todos</h1> -->
						<h1>
							<i class="centercode"></i>Entretenimiento</h1>
						<!-- Slogan -->
						<h1>
							<i class="centercode"></i>Para todos</h1>
						<!-- Slogan -->
					</div>
				</div>

				<div class="item">
					<img src="/src/assets/img/ingreso.jpg">
					<div class="carousel-caption">
						<!--  -->
            <h2 class="my-4 titulo">Red TV<small>Telecomunicaciones</small></h2>
            <!--  -->
            <h1><i class="centercode"></i>Entretenimiento</h1>
              <!--  -->
						<h1><i class="centercode"></i>Para todos</h1>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>


		<!-- fin contenido -->
		<div class="container contenido">
			<!--  servicios ======================================================================================== -->

			<h3 class="my-4">Nuestros Servicios</h3>

			<div class="row">

				<div class="col-sm-4 col-xs-6">

					<div class="panel panel-default">
						<div class="panel-thumbnail">
							<img src="/src/assets/img/card_cobertura.jpg" class="img-responsive">
						</div>
						<div class="panel-body">
							<p class="lead">Cobertura</p>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam, atque sequi ducimus nam reprehenderit architecto
								tempore id laboriosam quia error rem ipsa facilis delectus quam iusto odio perspiciatis, cum.</p>
						</div>
					</div>


				</div>
				<!--/col-->
				<div class="col-sm-4 col-xs-6">
					<div class="panel panel-default">
						<div class="panel-thumbnail">
							<img src="/src/assets/img/card_internet.jpg" class="img-responsive">
						</div>
						<div class="panel-body">
							<p class="lead"> Internet</p>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam, atque sequi ducimus nam reprehenderit architecto
								tempore id laboriosam quia error rem ipsa facilis delectus quam iusto odio perspiciatis, cum.</p>
						</div>
					</div>
				</div>
				<!--/col-->

				<div class="col-sm-4 col-xs-6">

					<div class="panel panel-default">
						<div class="panel-thumbnail">
							<img src="/src/assets/img/card_televicion.jpg" class="img-responsive">
						</div>
						<div class="panel-body">
							<p class="lead"> Television</p>
							<hr>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam, atque sequi ducimus nam reprehenderit architecto
								tempore id laboriosam quia error rem ipsa facilis delectus quam iusto odio perspiciatis, cum.</p>
						</div>
					</div>


				</div>
				<!--/col-->

			</div>


			<!-- 1 -->
			<hr class="linea">
			<!-- fin  servicios ======================================================================================= -->
			<!-- productos ============================================================================================ -->
			<h3 class="my-4">Costos y Tarifas</h3>

			<div class="media">
				<div class="media-left media-middle">
					<img class="media-object" style="width: 80px" src="/src/assets/img/tv_costos.png" alt="...">
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<p>we designed this information system to help the company solve problems like organization, schedules in assignment of
							activities and to program the tasks that they do manually </p>
					</h4>
				</div>
			</div>

			<!-- fin planes -->

			<div class="media">
				<div class="media-left media-middle">
					<img class="media-object" style="width: 80px" src="/src/assets/img/wi-fi_costos.png" alt="...">
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<p>we designed this information system to help the company solve problems like organization, schedules in assignment of
							activities and to program the tasks that they do manually </p>
					</h4>
				</div>
			</div>

			<div class="media">
				<div class="media-left media-middle">
					<img class="media-object" style="width: 80px" src="/src/assets/img/servicos_costos.png" alt="...">
				</div>
				<div class="media-body">
					<h4 class="media-heading">
						<p>we designed this information system to help the company solve problems like organization, schedules in assignment of
							activities and to program the tasks that they do manually </p>
					</h4>
					...
				</div>
			</div>


			<!-- fin productos =========================================================================================== -->

			<!-- fin productos =========================================================================================== -->

		</div>
		<!-- fin container -->
		<!--  fin .contenedor -->
		<div id="contacto">
			<div class="row map">
				<h1>Contactenos</h1>
				<hr>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230"
							 width="100%" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="col-md-5">
							<form [formGroup]="formContactenos" (ngSubmit)="onSubmitFormContactenos()">
								<div class="form-group">
									<input type="text" class="form-control" formControlName="nombre_contacto" value="" placeholder="Nombre y apellido">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" formControlName="correo_contacto" value="" placeholder="E-mail">
								</div>
								<div class="form-group">
									<input type="tel" class="form-control" formControlName="telefono_contacto" value="" placeholder="Telefono">
								</div>
								<div class="form-group">
									<textarea class="form-control" formControlName="mensaje_contacto" rows="3" placeholder="Mensaje"></textarea>
								</div>
								<button class="btn btn-success btn-block">Enviar</button>
							</form>
						</div>
					</div>
				</div>
				<!-- fin container -->
			</div>


		</div>
    <!-- fin contenido principal ============================================================ -->
    <!-- Footer -->
<div class="footer-section">
  <div class="footer">
    <div class="container">
      <div class="col-md-4 footer-four">
        <h5>Contactanos</h5>
        <div class="foot-address">
          <ul>
            <li>
              <i class="fa fa-map-marker"></i>Calle 75 65-25 sur</li>
            <li>
              <i class="fa fa-envelope-o"></i>redtvtelecominucaciones@gmail.com </li>
            <li>
              <i class="fa fa-phone"></i>+55-555-555 </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <app-login-registro></app-login-registro>
