
	<div class="presentacion">

		<img src="/src/assets/img/error/oops.png" alt="">

		<div class="mensaje">
			<div class="error">
				<img src="/src/assets/img/error/x.png" alt="">
				<h2>404</h2>
			</div>
			<h3>error</h3>
			<h3>LO SENTIMOS LA PAGINA NO FUE ENCONTRADA</h3>
			<br>
			<a type="button" href="../index.html" class="btn regreso">Regresar al Inicio</a>
		</div>
	</div>
