<div class="tablas">
  <legend>Aprobar Actvidades</legend>

  <div class="form-group col-sm-8">

    <label class="col-sm-2 control-label" for="card-number">Fecha</label>
    <div class="col-sm-4">
      <input type="date" class="form-control" name="">

    </div>
  </div>
  <hr class="linea-tablas">
  <br>
  <div class="datos_tablas">
    <table datatable [dtOptions]="opcionesDataTable" class="row-border hover table table-responsive">

      <thead>
        <tr>
          <th>Nombre </th>
          <th>Apellido </th>
          <th>Documento</th>
          <th>Direccion</th>
          <th>Telefono 1</th>
          <th>Telefono 2</th>
          <th>Actividad Tecnica</th>
          <th>Servicio</th>
          <th>Ejecutar</th>
        </tr>
      </thead>

      <tbody>
        <!-- filas -->
        <tr>
          <td>Steve</td>
          <td>Foo</td>
          <td>1032987345</td>
          <td>cll 23 97-12</td>
          <td>321120400</td>
          <td>321120400</td>
          <td>mantenimiento</td>
          <td>internet</td>
          <td>
            <button id="detalle_autorizar_servicio" class="btn btn-warning btn-xs">
              <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <hr class="linea-tablas">


