<!-- modal  login ************************************************************ -->
<!-- Modal -->
<div #completeModal id="modallLogin" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <fieldset>
          <!-- contenido modal **************************************************- -->
          <div class="col-lg-12 col-md-12">
            <div class="logoLogin">
              <img src="/src/assets/img/logo.png" alt="">
            </div>
            <!-- form login -->
            <div *ngIf="login" class="row">
              <form [formGroup]="formLogin" (ngSubmit)="onSubmitFormLogin()" #form="ngForm">
                <div class="form-group">
                  <label for="usuario">Usuario</label>
                  <input type="email" formControlName="nombre" class="form-control" id="usuario" placeholder="Usuario">
                </div>
                <!--  -->
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input formControlName="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>
                <!--  -->
                <a (click)="mostrarRecuperarPassword()" style="float: right;font-size: 12px;">Recuperar
                  Contraseña</a>
                <button class="brnIngresar btn btn-lg">Ingresar</button>
              </form>
              <p>No Tienes una cuenta Registrate
                <a (click)="mostrarRegistro()" id="ver-registro">aqui</a>
              </p>
              <hr>
            </div>
            <!-- fin formulario -->
            <!-- form registrar ================================================================================ -->
            <div *ngIf="registro">
              <form [formGroup]="formRegistro" (ngSubmit)="onSubmitFormRegistro()" #form="ngForm">
                <!--  -->
                <div class="form-group">
                  <label for="numeroDocumento">Numero Documento</label>
                  <input formControlName="numeroDocumento" type="text" class="form-control" placeholder="Numero Documento" />
                </div>
                <!--  -->
                <div class="form-group">
                  <label for="nombre">Nombre Usuario</label>
                  <input id="nombre" formControlName="nombre" type="text" class="form-control" placeholder="Nombre de Usuario que desea registrar" />
                </div>
                <!--  -->
                <button type="submit" class="brnIngresar btn btn-lg">Registrar</button>
              </form>
              <p>Tienes una cuenta ? ingresa a
                <a (click)="mostrarLogin()">aqui</a>
              </p>
            </div>

            <!-- recuperar contraseña -->

            <div *ngIf="recuperarPassword">
              <form [formGroup]="formRecuperarPassword" (ngSubmit)="onSubmitFormRecuperarPassword()" #form="ngForm"
                action="">
                <!--  -->
                <div class="form-group">
                  <label for="password">Email</label>
                  <input formControlName="correo" type="email" class="form-control" id="password" placeholder="email">
                </div>
                <p>Por Favor Ingrese su Correo Para Confirmar Su Cuenta</p>
                <!--  -->
                <br>
                <input type="submit" class="brnIngresar btn btn-lg" value="Enviar" />
              </form>
              <p>No Tienes una cuenta? Registrate
                <a (click)="mostrarRegistro()">aqui</a>
              </p>
            </div>
          </div>
        </fieldset>
        <!--  fin row login -->
        <!-- fin datos login ******************************************* -->
        <!-- fin contenido modal *********************************************- -->
      </div>
    </div>
  </div>
</div>
<!-- fin modal  login -------------------------------------------------------------------------- -->
