/* You can add global styles to this file, and also import other style files */
@import "../node_modules/fullcalendar/dist/fullcalendar.css";

.invalid-feedback[_ngcontent-c5], .valid-feedback[_ngcontent-c5] {
  display: block;
  color: red;
}

/* estilos datatables cpersdonalizados ===================*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
  /* border: 1px solid #979797; */
  padding: 2px;
}
button.dt-button, div.dt-button, a.dt-button {
  padding: 2px 9px;

}
.invalid-feedback{
  color:red;
}

/* ==================================== ===================*/


