<div [ngClass]="openMenuBody">
  <!-- header ******************************************************************************* -->
  <header class="l-header">
    <div class="l-header__inner clearfix">
      <div class="c-header-icon js-hamburger" (click)="openMenuAdmin()">
        <div class="hamburger-toggle" [ngClass]="openHeader">
          <span class="bar-top"></span>
          <span class="bar-mid"></span>
          <span class="bar-bot"></span>
        </div>
      </div>
      <!-- menu suaer -->
      <ul id="opcion-usuario" class="nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/user_admin.png" alt=""><strong> {{usuario}} </strong>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="inicio" routerLinkActive="/admin/editarDatos">
                <span class="glyphicon glyphicon-cog"></span>Editar Datos</a>
            </li>
            <li>
              <a routerLink="inicio" routerLinkActive="active">
                <span class="glyphicon glyphicon-cog"></span>Inicio Pricipal</a>
            </li>
            <li>
              <a href="../error/404.html">
                <span class="glyphicon glyphicon-cog"></span>Error 404</a>
            </li>
            <li>
              <a href="../error/500.html">
                <span class="glyphicon glyphicon-cog"></span>Error 500</a>
            </li>
            <li>
              <a (click)="loginService.logOut()" href="#">
                <span class="glyphicon glyphicon-off"></span>Salir</a>
            </li>
          </ul>
        </li>
      </ul>
      <!--  -->

    </div>
  </header>
  <!-- header ********************************************** -->

  <!-- menu==================================================================================== -->
  <div class="l-sidebar">
    <div class="logo" style="background: white">
      <div class="logo__txt">
        <img src="assets/img/logo.png" class="img-responsive img-circle" alt="">
      </div>
    </div>
    <div class="l-sidebar__content" [ngClass]="openMenu">
      <nav class="c-menu js-menu">

        <ul class="u-list">
          <li *ngFor="let item of menuService.rutas" class="c-menu__item" data-toggle="tooltip" title="{{item.nombreRuta}}">
            <a routerLink="{{item.ruta}}" routerLinkActive="active">
              <div class="c-menu__item__inner">
                <i class="{{item.icon}}"></i>
                <div class="c-menu-item__title">
                  <span>{{item.nombreRuta}}</span>
                </div>
              </div>
            </a>
          </li>
        </ul>

      </nav>
    </div>
  </div>

  <!-- ******************************************************************* -->
  <!-- fin amenu ====================================================================================== -->

</div>
