<div class="tablas">
    <legend>Inicio</legend>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Actividades
          </div>
          <div class="panel-body col-md-10">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin datos-contenido -->
