
label[for="inputFile"] {
font-size: 14px;
font-weight: 600;
color: #fff;
background-color: #106BA0;
display: inline-block;
transition: all .5s;
cursor: pointer;
padding: 15px 40px !important;
text-transform: uppercase;
width: fit-content;
text-align: center;
}

.inputFile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}