


    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
            
          <h3>Migracion</h3>
            
         <span class="mi-archivo">            
            <input id="inputFile" type="file" class="upload inputFile" (change)="changeListener($event.target.files)">
         </span>
         <label for="inputFile">
           <span>{{nombreFile}}</span>
         </label> 
              
          <button class="btn btn-success btn-block"  [disabled]="show" (click)="Subir()">Migrar</button>        
        </div>
        <div class="col-md-4"></div>
      </div>

