<div class="tablas">
    <fieldset>
      <legend>Generar Actividad</legend>

      <div class="col-sm-4">

          <!-- datos usaurio -->
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h1 class="titulo-datos-2">Datos cliente</h1>
            </div>
            <div class="panel-body">
              <img class="img-perfil-form img-responsive img-rounded" src="../../img/user_admin.png" alt="">
            </div>
            <!-- List group -->
            <ul class="list-group">
              <li class="list-group-item">Steven Foo</li>
              <li class="list-group-item">1032987345</li>
              <li class="list-group-item">stevenfoo@example.com</li>
            </ul>
          </div>
          <!--  -->
        </div>

      <div class="col-sm-6">
        <div class="form-group col-sm-12">
          <h1 class="titulo-datos">Datos Actividad</h1>
          <hr class="linea-tablas">
        </div>
        <!-- datos cliente -->

        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label" for="card-number">Actividad Tecnica</label>
          <div class="col-sm-8">
            <label class="datos-usuarios" for="card-number">Mantenimiento</label>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label" for="card-number">Servicios :</label>
          <div class="col-sm-8">
            <label class="datos-usuarios" for="card-number">Television</label>
            <label class="datos-usuarios" for="card-number">Internet</label>
          </div>
        </div>
        <!-- datos cliente -->
        <div class="form-group col-sm-12">

          <label class="col-sm-4 control-label" for="card-number">Valor Adicional</label>
          <div class="col-sm-8">
            <label class="datos-usuarios" for="">10000</label>

          </div>
        </div>
        <div class="form-group col-sm-12">
          <label class="col-sm-4 control-label" for="card-number">Observaciones</label>
          <div class="col-sm-8">
            <textarea class="form-control" name="" id="" cols="45" rows="5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aperiam deleniti sit temporibus placeat consequuntur corporis quia expedita obcaecati maxime magni nemo tenetur itaque vel repellat, laborum, veniam architecto perspiciatis.
            </textarea>
          </div>

        </div>

        <div class="form-group">
          <hr class="linea-tablas">
          <div class="col-sm-12">
            <br>
            <a href="programar_actividad_servicio.html" id="" class="btn btn-success btn-lg btn-block">Agendar Actividad</a>
          </div>
        </div>

      </div>
    </fieldset>
  </div>
